body    {
    padding: 2em;
    background-color: #414767;
    color: #5ec986;
}

.wrapper {
    text-align: center;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.header {
    background-color: #6e7598be;
    text-transform: uppercase;
    font-weight: bold;
}

.main {
    background-color:  	#6e7598;
}
